.body{
  margin: 0;
  padding: 0;
  font-family:sans-serif, Arial, sans-serif;
}

.headerContainer{
  color: #0070f3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  position: fixed;
  width: 100vw;
  padding: 1em;
}
.headerTitle{
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2em;
}

.headerNav{
  width: 40%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.navLinks{
  margin-right: 5px;
  margin-left: 5px;
}
.textLink {
  color: black;
  text-decoration: inherit;
  font-size: 20px;
  font-weight: 600;
}

.textLink:hover{
  color: #0070f3;
}