.sectionContainer{
    margin-top: 10em;
}

.section{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    background: #ffffff;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}